<%- include("../components/start_layout.ejs") %>
<%- include("../components/start_sidebar.ejs") %>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">List Kelas</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
          <button
            class="btn btn-sm btn-outline-secondary"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseExample"
            aria-expanded="false"
            aria-controls="collapseExample">
            more
          </button>
          <button type="button" class="btn btn-sm btn-outline-secondary">{{$date}}</button>
        </div>
      </div>
    </div>
    <div class="collapse mb-2" id="collapseExample">
      <div class="card card-body">
        <div class="container">
          <div class="d-flex overflow-x-scroll">
            <a
              href="/list/kelas/add"
              class="btn btn-outline-secondary px-2 py-0 mx-1">Add</a>
            <a
              href="/list/kelas/delete"
              class="btn btn-outline-secondary px-2 py-0 mx-1">Delete</a>
          </div>
        </div>
      </div>
    </div>
<%- include("../components/end_sidebar.ejs") %>
<%- include("../components/end_layout.ejs") %>